{{!< Layout}}

{{#with email}}
<th class="columns first last">
    <table>
        <tr>
            <th>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>Request ID</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{requestId}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>Request URL</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{requestUrl}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>Request Method</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{requestMethod}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>User ID</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{userId}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>Error message</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{errorMessage}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
                <table class="row">
                    <tr>
                        <th class="small-12 large-4 columns first">
                            <table>
                                <tr>
                                    <th>Stack trace</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                        <th class="small-12 large-8 columns last">
                            <table>
                                <tr>
                                    <th>{{stackTrace}}</th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
</th>

<!--
<table class="row">
    <tr>
        <th class="small-3 first columns">Request URL</th>
        <td class="small-9 last columns">{{requestUrl}}</td>
    </tr>
</table>
<table class="row">
    <tr>
        <th class="small-3 first columns">Request Method</th>
        <td class="small-9 last columns">{{requestMethod}}</td>
    </tr>
</table>
<table class="row">
    <tr>
        <th class="small-3 first columns">User ID</th>
        <td class="small-9 last columns">{{userId}}</td>
    </tr>
</table>
<table class="row">
    <tr>
        <th class="small-3 first columns">Error Message</th>
        <td class="small-9 last columns">{{errorMessage}}</td>
    </tr>
</table>
<table class="row">
    <tr>
        <th class="small-3 first columns">Stack Trace</th>
        <td class="small-9 last columns">{{stackTrace}}</td>
    </tr>
</table>
-->

{{/with}}
