@model Dccn.ProjectForm.Models.DataSectionModel
@using System.Web
@using Dccn.ProjectForm.Extensions
@using Dccn.ProjectForm.Models
@using Dccn.ProjectForm.Utils

@* Project storage access roles *@
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(m => m.StorageAccessRules)</h5>
        <h6 class="card-subtitle text-muted mb-3">@Html.DescriptionFor(m => m.StorageAccessRules)</h6>
        <div class="card">
            <div class="card-header py-2">
                <div class="row">
                    <label class="col-auto col-form-label col-form-label-sm">Add access role</label>
                    <div class="col">
                        <input class="form-control form-control-sm user-query" type="text"
                               placeholder="Search for a DCCN member to give project access to"
                               data-usertype="access" data-url="@Url.Action("Query", "Users", new {query = "__QUERY__"})">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary user-add"
                                data-usertype="access" data-submit-on="click">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush user-items" data-usertype="access">
                <div class="list-group-item list-group-placeholder">
                    <span class="text-muted font-italic">No access roles assigned</span>
                </div>
                @foreach (var rule in Model.StorageAccessRules)
                {
                    <div class="d-none access-item"
                         data-index="@rule.Id"
                         data-id="@rule.Id"
                         data-name="@rule.Name"
                         data-role="@rule.Role"
                         data-can-edit="@rule.CanEdit"
                         data-can-remove="@rule.CanRemove">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(m => m.Preservation)</h5>
        <h6 class="card-subtitle text-muted mb-3">@Html.DescriptionFor(m => m.Preservation)</h6>
        <div class="accordion" id="preservation-options">
            <div class="card">
                <div class="card-header">
                    <div class="custom-control custom-radio">
                        <input asp-for="Preservation"
                               class="custom-control-input radio-panel-input"
                               type="radio"
                               id="preservation-repository"
                               value="@DataPreservationModel.Repository"
                               data-target="#preservation-repository-panel"
                               data-submit-on="change">
                        <label class="custom-control-label" for="preservation-repository">@Html.DisplayName(DataPreservationModel.Repository)</label>
                    </div>
                </div>
                <fieldset class="collapse" id="preservation-repository-panel" data-parent="#preservation-options">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted mb-3">@Html.Description(DataPreservationModel.Repository)</h6>

                        <p class="card-text">
                            The project owner (<b>@Html.DisplayFor(m => m.OwnerName)</b>) and the PI (<b>@Html.DisplayFor(m => m.SupervisorName)</b>)
                            will receive the <i>manager</i> role in the Donders Repository.
                        </p>

                        <div class="alert alert-warning d-none repository-user-warning" role="alert"
                             data-url="@Url.Action("RepositoryUserExists", "Users", new {id = Model.OwnerId})">
                            <b>Warning: </b>
                            No Donders Repository account found for <i>@Html.DisplayFor(m => m.OwnerName)</i> using e-mail address <i>@Html.DisplayFor(m => m.OwnerEmail)</i>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <b>Note: </b><i>Collaborator</i>, <i>viewer</i> and additional <i>manager</i> roles for the Donders Repository need to be manually assigned by a <i>manager</i>.
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="custom-control custom-radio">
                        <input asp-for="Preservation"
                               class="custom-control-input radio-panel-input"
                               type="radio"
                               id="preservation-external"
                               value="@DataPreservationModel.External"
                               data-target="#preservation-external-panel"
                               data-submit-on="change">
                        <label class="custom-control-label" for="preservation-external">@Html.DisplayName(DataPreservationModel.External)</label>
                    </div>
                </div>
                <fieldset class="collapse" id="preservation-external-panel" data-parent="#preservation-options">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted mb-3">@Html.Description(DataPreservationModel.External)</h6>

                        <div class="form-group">
                            <label asp-for="ExternalPreservation.Location"></label>
                            <input asp-for="ExternalPreservation.Location" class="form-control" data-submit-on="change"/>
                            <small asp-description-for="ExternalPreservation.Location"></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExternalPreservation.Reference"></label>
                            <input asp-for="ExternalPreservation.Reference" class="form-control" data-submit-on="change"/>
                            <small asp-description-for="ExternalPreservation.Reference"></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExternalPreservation.SupervisorName"></label>
                            <input asp-for="ExternalPreservation.SupervisorName" class="form-control" data-submit-on="change"/>
                            <small asp-description-for="ExternalPreservation.SupervisorName"></small>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script id="access-item-template" type="text/x-jsrender">
    <div class="list-group-item list-group-item-action py-2 access-item-expanded"
         data-index="{{:index}}"
         data-id="{{:id}}"
         data-name="{{>name}}"
         data-role="{{:role}}"
         data-can-edit="{{:canEdit}}"
         data-can-remove="{{:canRemove}}">

        <input name="@Html.Name(nameof(Model.StorageAccessRules) + ".Index")" type="hidden" value="{{:index}}">
        <input name="@Html.Name(nameof(Model.StorageAccessRules) + "[{{:index}}].Id")" type="hidden" value="{{:id}}">

        <div class="row align-items-center">
            <div class="col">
                {{>name}}
                <span class="badge badge-info">{{:id}}</span>
            </div>

            <div class="col-auto btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                @foreach (var role in EnumUtils.GetValues<StorageAccessRoleModel>())
                {
                    @:{{if role === @Html.Raw(HttpUtility.JavaScriptStringEncode(role.ToString(), true))}}
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="@Html.Name(nameof(Model.StorageAccessRules) + "[{{:index}}].Role")" autocomplete="off"
                               value="@role" data-submit-on="change" checked> @Html.DisplayName(role)
                    </label>
                    @:{{else}}
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="@Html.Name(nameof(Model.StorageAccessRules) + "[{{:index}}].Role")" autocomplete="off"
                               value="@role" data-submit-on="change"> @Html.DisplayName(role)
                    </label>
                    @:{{/if}}
                }
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary remove-access" data-submit-on="click">
                    <i class="fas fa-minus-square"></i>
                </button>
            </div>
        </div>
    </div>
</script>