@model FormModel
@using System.Web
@using Dccn.ProjectForm.Extensions
@using Dccn.ProjectForm.Models
@using Dccn.ProjectForm.Utils

@* Project storage access roles *@
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(m => m.Data.StorageAccessRules)</h5>
        <p class="card-text">@Html.DescriptionFor(m => m.Data.StorageAccessRules)</p>
        <div class="card">
            <div class="card-header py-2">
                <div class="row">
                    <label class="col-auto col-form-label col-form-label-sm">Add access role</label>
                    <div class="col">
                        <input class="form-control form-control-sm user-query" type="text"
                               placeholder="Search for a DCCN member to give project access to"
                               data-usertype="access" data-url="@Url.Action("Query", "Users", new {query = "__QUERY__"})">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary user-add"
                                data-usertype="access" data-save-on="click">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush user-items" data-usertype="access">
                <div class="list-group-item list-group-placeholder">
                    <span class="text-muted font-italic">No access roles assigned</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(m => m.Data.Preservation)</h5>
        <p class="card-text">@Html.DescriptionFor(m => m.Data.Preservation)</p>
        <div class="accordion" id="preservation-options">
            <div class="card">
                <div class="card-header">
                    <div class="custom-control custom-radio">
                        <input asp-for="Data.Preservation"
                               class="custom-control-input radio-panel-input"
                               type="radio"
                               id="preservation-repository"
                               value="@DataPreservationModel.Repository"
                               data-target="#preservation-repository-panel"
                               data-save-on="change">
                        <label class="custom-control-label" for="preservation-repository">@Html.DisplayName(DataPreservationModel.Repository)</label>
                    </div>
                </div>
                <fieldset class="collapse" id="preservation-repository-panel" data-parent="#preservation-options">
                    <div class="card-body">
                        <p class="card-text">@Html.Description(DataPreservationModel.Repository)</p>

                        <p class="card-text">
                            The project owner (<b>@Html.DisplayFor(m => m.Data.OwnerName)</b>) and the PI (<b>@Html.DisplayFor(m => m.Data.SupervisorName)</b>)
                            will receive the <i>manager</i> role in the Donders Repository.
                        </p>

                        <div id="repository-user-warning" class="alert alert-warning d-none" role="alert" data-url="@Url.Action("RepositoryUserExists", "Users", new {id = Model.Data.OwnerId})">
                            <b>Warning: </b>
                            No Donders Repository account found for <i>@Html.DisplayFor(m => m.Data.OwnerName)</i> using e-mail address <i>@Html.DisplayFor(m => m.Data.OwnerEmail)</i>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <b>Note: </b><i>Collaborator</i>, <i>viewer</i> and additional <i>manager</i> roles for the Donders Repository need to be manually assigned by a <i>manager</i>.
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="custom-control custom-radio">
                        <input asp-for="Data.Preservation"
                               class="custom-control-input radio-panel-input"
                               type="radio"
                               id="preservation-external"
                               value="@DataPreservationModel.External"
                               data-target="#preservation-external-panel"
                               data-save-on="change">
                        <label class="custom-control-label" for="preservation-external">@Html.DisplayName(DataPreservationModel.External)</label>
                    </div>
                </div>
                <fieldset class="collapse" id="preservation-external-panel" data-parent="#preservation-options">
                    <div class="card-body">
                        <p class="card-text">@Html.Description(DataPreservationModel.External)</p>

                        <div class="form-group">
                            <label asp-for="Data.ExternalPreservation.Location"></label>
                            <input asp-for="Data.ExternalPreservation.Location" class="form-control" data-save-on="change"/>
                            <small asp-description-for="Data.ExternalPreservation.Location"></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="Data.ExternalPreservation.Reference"></label>
                            <input asp-for="Data.ExternalPreservation.Reference" class="form-control" data-save-on="change"/>
                            <small asp-description-for="Data.ExternalPreservation.Reference"></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="Data.ExternalPreservation.SupervisorName"></label>
                            <input asp-for="Data.ExternalPreservation.SupervisorName" class="form-control" data-save-on="change"/>
                            <small asp-description-for="Data.ExternalPreservation.SupervisorName"></small>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script id="access-item-template" type="text/x-jsrender">
    <div class="list-group-item list-group-item-action py-2 access-item" data-id="{{attr:id}}">
        <input name="@Html.NameFor(m => m.Data.StorageAccessRules["{{attr:id}}"].Id)" type="hidden" value="{{attr:id}}">

        <div class="row align-items-center">
            <div class="col">
                {{>name}}
                <span class="badge badge-info">{{:id}}</span>
            </div>

            <div class="col-auto btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                @foreach (var role in EnumUtils.GetValues<StorageAccessRoleModel>())
                {
                    @:{{if role === @Html.Raw(HttpUtility.JavaScriptStringEncode(role.ToString(), true))}}
                        <label class="btn btn-outline-secondary active">
                            <input type="radio" name="@Html.NameFor(m => m.Data.StorageAccessRules["__ID__"].Role).Replace("__ID__", "{{attr:id}}")"
                                   autocomplete="off" value="@role" data-save-on="change" checked> @Html.DisplayName(role)
                        </label>
                    @:{{else}}
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="@Html.NameFor(m => m.Data.StorageAccessRules["__ID__"].Role).Replace("__ID__", "{{attr:id}}")"
                                   autocomplete="off" value="@role" data-save-on="change"> @Html.DisplayName(role)
                        </label>
                    @:{{/if}}
                }
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary remove-access" data-save-on="click">
                    <i class="fas fa-minus-square"></i>
                </button>
            </div>
        </div>
    </div>
</script>

<script id="access-rules" type="application/json">
@(
    Json.Serialize(Model.Data.StorageAccessRules.Values.Select(rule => new
    {
        rule.Id,
        rule.Name,
        rule.Role
    }))
)
</script>