@model EthicsSectionModel
@using Extensions
@using Models
@using Utils

<div class="accordion" id="ethics-options">
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-radio">
                <input asp-for="Status"
                       class="custom-control-input radio-panel-input"
                       id="ethics-approved"
                       type="radio"
                       value="@EthicsApprovalStatusModel.Approved"
                       data-target="#ethics-approved-panel"
                       data-submit-on="change">
                <label class="custom-control-label" for="ethics-approved">@EthicsApprovalStatusModel.Approved.GetDisplayName()</label>
            </div>
        </div>
        <fieldset class="collapse" id="ethics-approved-panel" data-parent="#ethics-options">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="ApprovalCode"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select asp-for="ApprovalCode" class="custom-select ethics-approval" data-submit-on="change">
                                @foreach (var option in EnumUtils.GetValues<EthicsApprovalOptionModel>())
                                {
                                    <!option value="@option" selected="@(Model.ApprovalCode == option)"
                                             @{
                                                 var description = option.GetDisplayDescription();
                                                 if (description != null)
                                                 {
                                                     <text>data-description="@description"</text>
                                                 }
                                             }>@option.GetDisplayName()</!option>
                                }
                            </select>
                        </div>
                        <input asp-for="CustomCode" class="form-control ethics-custom" placeholder="Enter study-specific approval CMO number" data-submit-on="change">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-radio">
                <input asp-for="Status"
                       class="custom-control-input radio-panel-input"
                       id="ethics-not-approved"
                       type="radio"
                       value="@EthicsApprovalStatusModel.Pending"
                       data-target="#ethics-not-approved-panel"
                       data-submit-on="change">
                <label class="custom-control-label" for="ethics-not-approved">@EthicsApprovalStatusModel.Pending.GetDisplayName()</label>
            </div>
        </div>
        <fieldset class="collapse" id="ethics-not-approved-panel" data-parent="#ethics-options">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="CorrespondenceNumber"></label>
                    <input asp-for="CorrespondenceNumber" class="form-control" data-submit-on="change">
                    <small asp-description-for="CorrespondenceNumber"></small>
                </div>

                <div class="alert alert-warning" role="alert">
                    <span class="font-weight-bold">Note:</span> Please keep in mind that approval is mandatory before the start of the study.
                </div>
            </div>
        </fieldset>
    </div>
</div>
