@model FormModel
@using Dccn.ProjectForm.Extensions
@using Microsoft.Extensions.Localization
@using Models
@using Services

@inject ILabProvider LabProvider
@inject IStringLocalizer Localizer

@* Start/end date *@
<div class="form-row">
    <div class="col-sm form-group">
        <label asp-for="Experiment.StartDate"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            <input asp-for="Experiment.StartDate" class="form-control" data-save-on="change">
        </div>
        <small asp-description-for="Experiment.StartDate"></small>
    </div>
    <div class="col-sm form-group">
        <label asp-for="Experiment.EndDate"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            <input asp-for="Experiment.EndDate" class="form-control" data-save-on="change">
        </div>
        <small asp-description-for="Experiment.EndDate"></small>
    </div>
</div>

@* Labs *@
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(m => m.Experiment.Labs)</h5>
        <p class="card-text">@Html.DescriptionFor(m => m.Experiment.Labs)</p>

        <div class="card">
            <div class="card-header d-none d-lg-block py-2">
                <div class="form-row align-items-center">
                    <label class="col col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(m => m.Experiment.Labs.Values.First().Modality)
                        <i asp-tooltip-for="Experiment.Labs.Values.First().Modality"></i>
                    </label>
                    <label class="col col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(m => m.Experiment.Labs.Values.First().SubjectCount)
                        <i asp-tooltip-for="Experiment.Labs.Values.First().SubjectCount"></i>
                    </label>
                    <label class="col col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(m => m.Experiment.Labs.Values.First().ExtraSubjectCount)
                        <i asp-tooltip-for="Experiment.Labs.Values.First().ExtraSubjectCount"></i>
                    </label>
                    <label class="col col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(m => m.Experiment.Labs.Values.First().SessionCount)
                        <i asp-tooltip-for="Experiment.Labs.Values.First().SessionCount"></i>
                    </label>
                    <label class="col col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(m => m.Experiment.Labs.Values.First().SessionDurationMinutes)
                        <i asp-tooltip-for="Experiment.Labs.Values.First().SessionDurationMinutes"></i>
                    </label>
                    <label class="col col-form-label col-form-label-sm">
                        @Localizer["Form.Experiment.Labs.TotalDuration.Label"]
                        <i asp-tooltip="Form.Experiment.Labs.TotalDuration.Description"></i>
                    </label>
                    <div class="col-auto">
                        <div class="dropdown dropleft float-right">
                            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="dropdown">
                                <i class="fas fa-plus-square"></i>
                            </button>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Add a modality</h6>
                                @foreach (var modality in LabProvider.Labs.Values)
                                {
                                    <button class="dropdown-item add-lab-item"
                                            type="button"
                                            data-modality="@modality.Id"
                                            @{
                                                if (modality.SessionStorageQuota is int storage)
                                                {
                                                    <text>data-storage="@storage"</text>
                                                }
                                            }
                                            formaction="@Url.Page(null, "AddLab", new {modality = modality.Id})">
                                        @modality.DisplayName
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush lab-items" data-storage-minimum="@Model.Experiment.MinimumStorageQuota">
                <div class="list-group-item list-group-placeholder py-2">
                    <label class="col-form-label col-form-label-sm font-weight-bold text-center text-lg-left">
                        None
                    </label>
                </div>
                @foreach (var lab in Model.Experiment.Labs.Values)
                {
                    @await Html.PartialAsync("Shared/_Lab", new ViewDataDictionary(ViewData)
                    {
                        {"LabId", lab.Id}
                    })
                }
            </div>
        </div>
    </div>
</div>

@* Quota *@
<div class="accordion mb-3" id="quota-options">
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-radio">
                <input asp-for="Experiment.StorageQuota"
                       class="custom-control-input radio-panel-input"
                       type="radio"
                       id="quota-standard"
                       value="@StorageQuotaModel.Standard"
                       data-target="#quota-standard-panel"
                       data-save-on="change">
                <label class="custom-control-label" for="quota-standard">@Html.DisplayName(StorageQuotaModel.Standard) (<span class="quota-standard-value">...</span>)</label>
            </div>
        </div>
        <fieldset class="collapse" id="quota-standard-panel" data-parent="#quota-options">
            <div class="card-body">
                <h5 class="card-title">Standard storage quota</h5>
                <p class="card-text">
                    Preferably apply for standard quota, which is based on standard quota
                    per subject per session for the different modalities you have included in your experiment.
                    See <a target="_blank" href="https://intranet.donders.ru.nl/index.php?id=quota">here</a> for more information.
                </p>
                <p class="card-text">The calculated quota is: <span class="quota-standard-value">...</span>.</p>
            </div>
        </fieldset>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-radio">
                <input asp-for="Experiment.StorageQuota"
                       class="custom-control-input radio-panel-input"
                       type="radio"
                       id="quota-custom"
                       value="@StorageQuotaModel.Custom"
                       data-target="#quota-custom-panel"
                       data-save-on="change">
                <label class="custom-control-label" for="quota-custom">@Html.DisplayName(StorageQuotaModel.Custom)</label>
            </div>
        </div>
        <fieldset class="collapse" id="quota-custom-panel" data-parent="#quota-options">
            <div class="card-body">
                <h5 class="card-title">Overruling storage quota</h5>
                <p class="card-text">
                    Use overruling storage quota in case the project uses imported data or in case the default
                    quota per subject per session does not fit for your special requirements.
                    A motivation is mandatory when applying for overruling storage quota.
                    See <a target="_blank" href="https://intranet.donders.ru.nl/index.php?id=quota">here</a> for more information.
                </p>
                <div class="form-group">
                    <label asp-for="Experiment.CustomStorageQuota"></label>
                    <div class="input-group">
                        <input asp-for="Experiment.CustomStorageQuota" class="form-control" data-save-on="change">
                        <div class="input-group-append">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                    <small asp-description-for="Experiment.CustomStorageQuota"></small>
                </div>
                <div class="form-group">
                    <label asp-for="Experiment.CustomStorageQuotaMotivation"></label>
                    <textarea asp-for="Experiment.CustomStorageQuotaMotivation" class="form-control" rows="3"
                              placeholder="@Html.DescriptionFor(m => m.Experiment.CustomStorageQuotaMotivation)"
                              data-save-on="change"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</div>

@* Experimenters *@
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Experimenters</h5>
        <p class="card-text">
            Experimenters are allowed to do lab bookings for the project. The project owner is an experimenter by default.
        </p>
        <div class="card">
            <div class="card-header py-2">
                <div class="row">
                    <label class="col-auto col-form-label col-form-label-sm">
                        Add experimenter
                        <i asp-tooltip="Search and select another colleague from the list. Click <i class='fas fa-plus-square mx-1'></i> to add more experimenters. Click <i class='fas fa-minus-square mx-1'></i> to remove an experimenter." data-html="true"></i>
                    </label>
                    <div class="col">
                        <input class="form-control form-control-sm user-query" type="text"
                               placeholder="Search for a DCCN member to add as experimenter" data-usertype="experimenter"
                               data-url="@Url.Action("Query", "Users", new {query = "__QUERY__"})">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-secondary user-add" type="button"
                                data-usertype="experimenter" data-save-on="click">
                            <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush user-items" data-usertype="experimenter">
                <div class="list-group-item list-group-placeholder">
                    <span class="text-muted font-italic">No experimenters assigned</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="experimenter-item-template" type="text/x-jsrender">
    <div class="list-group-item list-group-item-action py-2 experimenter-item" data-id="{{attr:id}}">
         <input type="hidden" name="@Html.NameFor(m => m.Experiment.Experimenters["__ID__"].Id).Replace("__ID__", "{{attr:id}}")" value="{{attr:id}}">

         <div class="row align-items-center">
             <div class="col">
                 {{>name}}
                 <span class="badge badge-info">{{:id}}</span>
             </div>
             <div class="col-auto">
                 <button type="button" class="btn btn-sm btn-outline-secondary remove-experimenter" data-save-on="click">
                     <i class="fas fa-minus-square"></i>
                 </button>
             </div>
         </div>
     </div>
</script>

<script id="experimenters" type="application/json">
@(
    Json.Serialize(Model.Experiment.Experimenters.Values.Select(experimenter => new
    {
        experimenter.Id,
        experimenter.Name
    }))
)
</script>